@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: rgba(0,0,0, 0.87);
  background-color: rgb(255, 253, 255);
}
@media (max-width: 600px) {
  body {
    font-size: 21px;
  }
}
